In [1]:
import pandas as pd
import numpy as np

In [2]:
train = pd.read_csv('./data/training_data_2003-21.csv')
train = train.drop(['Unnamed: 0'], axis=1)
print(train.shape)
train.head(5)

(2274, 45)

,Opp_Score,Opp_FGM,Opp_FGA,Opp_FGM3,Opp_FGA3,Opp_FTM,Opp_FTA,Opp_OR,Opp_DR,Opp_Ast,...,PF,MOV,OppScore,TotPoss,OffEff,DefEff,FT%,Seed,AvgRank,Win
0,79.703704,28.074074,61.407407,5.222222,15.185185,18.333333,24.814815,14.000000,24.037037,14.037037,...,18.482759,15.666667,1961.0,1978.8,0.870185,1.009077,0.752591,2,9.50,1
1,78.800000,28.533333,58.500000,7.400000,18.566667,14.333333,20.233333,10.366667,27.500000,15.000000,...,17.516129,12.217391,2075.0,2006.0,0.897539,0.966747,0.704202,12,88.00,0
2,73.636364,26.272727,55.696970,7.454545,20.515152,13.636364,19.606061,11.181818,24.515152,15.575758,...,19.812500,12.454545,2382.0,2332.4,0.915026,0.979177,0.653795,5,29.00,0
3,73.933333,26.533333,54.800000,5.200000,14.200000,15.666667,20.833333,11.100000,25.200000,16.366667,...,18.344828,13.470588,1956.0,1905.6,0.910029,0.974233,0.698738,8,35.75,1
4,68.093750,23.562500,52.843750,5.312500,15.406250,15.656250,22.531250,12.312500,24.906250,15.812500,...,17.937500,12.166667,2295.0,2192.0,0.910677,0.955120,0.715033,14,96.25,0

In [3]:
test = pd.read_csv('./data/testing_data_2022.csv')
test = test.drop(['Unnamed: 0'], axis=1)
print(test.shape)
test.head(5)

(358, 28)

,Score,FGM,FGA,FGM3,FGA3,FTM,FTA,OR,DR,Ast,...,SAG,AvgRank,TeamName,TeamID,OppScore,Season,TotPoss,OffEff,DefEff,FT%
0,79.968750,27.656250,62.750000,9.281250,30.093750,15.375000,21.062500,11.625000,24.718750,14.625000,...,23,22.00,Alabama,1104,2445.0,2022,2356.6,0.920907,0.963845,0.729970
1,61.433333,21.866667,57.733333,3.900000,14.400000,13.800000,19.366667,9.466667,23.933333,9.500000,...,338,327.00,Alabama A&M,1105,2010.0,2022,2077.4,1.127184,1.033532,0.712565
2,63.468750,24.406250,54.281250,5.031250,15.218750,9.625000,13.875000,6.812500,21.218750,12.187500,...,320,330.50,American Univ,1110,2270.0,2022,2090.6,1.029345,0.920969,0.693694
3,84.558824,30.441176,61.382353,7.764706,21.911765,15.911765,21.558824,10.441176,28.352941,19.911765,...,2,2.00,Arizona,1112,2296.0,2022,2465.2,0.857461,1.073693,0.738063
4,65.387097,25.000000,60.419355,6.903226,22.483871,8.483871,12.838710,7.548387,24.129032,13.354839,...,79,86.25,Arizona St,1113,2084.0,2022,2157.2,1.064233,1.035125,0.660804